*
!pipeline/
pipeline/*
!pipeline/czech_hlidac_cloud/
!pipeline/czech_hlidac_cloud/**
!pipeline/config/
pipeline/config/*
!pipeline/config/czech-hlidac-municipalities.v1.json
!pipeline/transforms/
pipeline/transforms/*
!pipeline/transforms/fetch_hlidac_contracts.py
